.head{
	display: flex;
	justify-content: space-between;
}
.left-section{
	display: flex;
	align-items: center;
}
.right-section{
	display: flex;
	align-items: center;
	margin-right: 50px;
}
.uber{
	margin-top: 7px;
	font-family: Arial;
	font-size: 20px;
	color: white;
	margin-left: 50px;
	margin-right: 15px;
	cursor: pointer;
}
.company{
	margin-top: 7px;
   font-family: Arial;
   font-size: 13px;
   transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   font-weight: bold;
   cursor: pointer;
}
/* Here are colors changes*/
.company:hover,
.security:hover,
.help:hover,
.UK-UA:hover,
.service:hover,
.join:hover,
.check-up:hover{
	background-color: rgb(55, 55, 55);
}
.security{
  font-family: Arial;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 30px;
  font-weight: bold;
  transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer; 
}

.help{
	font-family: Arial;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 4px;
  font-weight: bold;
  transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer; 
}

.UK-UA{
	font-size: 13px;
	font-weight: bold;
	margin-top: 7px;
	transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer;

}
.youtube{
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
.service{
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: bold;
    margin-top: 7px;
	transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}

.join{
	margin-left: 15px;
  font-size: 13px;
	font-weight: bold;
    margin-top: 7px;
	transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}
.check-up{
	margin-left: 5px;
	font-size: 13px;
	font-weight: bold;
    margin-top: 7px;
	transition: background-color 0.60s;
   padding: 10px 15px;
   background-color: white;
   color: black;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}
.check-up:hover{
	background-color: lightgray;
}
