.head{
	display: flex;
	justify-content: space-between;
  margin-top: 5px;
}
.left-section{
	display: flex;
	align-items: center;
}
.right-section{
	display: flex;
	align-items: center;
	margin-right: 50px;
}
.uber{
	margin-top: 7px;
	font-family: Arial;
	font-size: 20px;
	color: white;
	margin-left: -5px;
	margin-right: 22px;
	cursor: pointer;
}
.company{
  display: flex;
  align-items: center;
	margin-top: 7px;
   font-family: Arial;
   font-size: 13px;
   transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   font-weight: bold;
   cursor: pointer;
}
/* Here are colors changes*/
.company:hover,
.security:hover,
.help:hover,
.UK-UA:hover,
.service:hover,
.join:hover,
.check-up:hover{
	background-color: rgb(55, 55, 55);
}
.arrow{
  height: 12px;
  width: 12px;
  margin-left: 10px;
}
.security{
  font-family: Arial;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer; 
}

.help{
	font-family: Arial;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 4px;
  font-weight: bold;
  transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer; 
}

.UK-UA{
  display: flex;
  align-items: center;
	font-size: 13px;
	font-weight: bold;
	margin-top: 7px;
  margin-right: 5px;
	transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer;

}

.UK-UA:hover{
	background-color: rgb(55, 55, 55);
}
.sphere{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  margin-right: 3px;
}

.youtube{
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
.service{
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: bold;
    margin-top: 7px;
	transition: background-color 0.60s;
   padding: 8px 10px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}

.join{
	margin-left: 15px;
  font-size: 13px;
	font-weight: bold;
    margin-top: 7px;
	transition: background-color 0.60s;
   padding: 8px 16px;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}
.check-up{
  margin-right: -35px;
	margin-left: 5px;
	font-size: 13px;
	font-weight: bold;
    margin-top: 7px;
	transition: background-color 0.60s;
   padding: 12px 13px;
   background-color: white;
   color: black;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}
.check-up:hover{
	background-color: lightgray;
}
