body{
	background-color: black;
	padding-bottom: 1850px;
	padding-left: 60px;
	padding-right: 50px;
	background: linear-gradient(
	black 0%,
	black 19.5%,
	white 19.5%,
	white 58.7%,
	black 58.7%,
	black 100%	
	);
	font-family: Arial;
	position: relative;
	overflow-x: hidden;
}

.left-title{
	font-family: Arial;
	font-size: 50px;
	font-weight: bold;
	color: white;
	width: 400px;
	margin-top: 200px;
	margin-left: 100px;
	line-height: 60px;
	margin-bottom: 20px;
}
.middle-title{
	width: 400px;
	font-family: Arial;
	font-size: 15px;
	color: white;
	margin-left: 100px;
	margin-bottom: 20px;
}
.input-div{
	position: relative;
	width: 400px;
}

.foto-button{
	height: 36px;
	width: 36px;
	position: absolute;
	right: -23%;
	top: 10%;
	cursor: pointer;
}
.input-2{
	width: 350px;
	margin-left: 100px;
	padding: 15px 26px;
	border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    margin-bottom: 30px;
}
.link{
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.button-title{
	padding: 15px 22px;
	border: none;
	font-size: 15px;
	border-radius: 7px;
	margin-left: 100px;
}
.input-1{
	width: 350px;
	margin-left: 100px;
	padding: 15px 26px;
	border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}


.container{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
}


.photo-div {
	padding-top: 70px;
	padding-left: 10px;
}
.user-log-window{
	margin-bottom: 270px;
	margin-left: -70px;
}
.container-2{
	display: grid;
	grid-template-columns: 50% 50%;
}
.photos-2{

	height: 550px;
	width: 550px;
	margin-left: 30px;
}
.right-title-2{
	margin-left: 115px;
	margin-top: 40px;
}
.right-inform{
	width: 510px;
	font-weight: bold;
	font-size: 57px;
	line-height: 65px;
	margin-bottom: 20px;
}
.middle-inform{
	width: 455px;
	font-size: 17px;
	line-height: 25px;
}
.button-2{
	background-color: black;
	color: white;
	margin-top: 30px;
	padding: 14px 23px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
	border: none;
	transition: background-color 0.60s;
	margin-bottom: 20px;
	cursor: pointer;
}

.end-inform{
	font-size: 17px;
	position: relative;
    cursor: pointer;
}
.end-inform:before{
  content: "";
  position: absolute;
  bottom: -2px;
  height: 1px;
  width: 0;
  background-color: black;
  border-radius: 50px;
  transition: width 0.60s ease;
}
.end-inform:hover:before{
	background-color: black;
	width: 252px;
}
.container-3{
	margin-top: 250px;
	margin-left: 30px;
}

.left-inform{
	width: 450px;
	font-size: 55px;
	color: rgb(55, 55, 55);
	font-weight: bold;
}
.middle-inform-2{
	width: 450px;
	font-size: 17px;
	margin-top: 20px;
    line-height: 25px;
}
.button-3{
	background-color: black;
	color: white;
	margin-top: 30px;
	padding: 14px 23px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
	border: none;
	transition: background 0.60s;
    margin-bottom: 300px;
	cursor: pointer;
}

.button-2:hover,
.button-3:hover{
	background-color: rgb(55, 55, 55);
}
.hard-div{
      display: flex;
}
.hard-button{
   margin-top: 45px;
   margin-left: 20px;
   font-size: 17px;
   position: relative;
   cursor: pointer;


}
.hard-button:before{
	content: "";
	position: absolute;
	top: 20px;
	bottom: -2px;
	height: 1px;
	width: 0;
	border-radius: 50px;
    transition: width 0.60s ease;
}
.hard-button:hover:before{
	background-color: black;
	width: 200px;
}
.photo-div-3{
	position: absolute;
	right: 100px;
	top: 1610px;
}
.photos-3{
	height: 550px;
	width: 550px;
}
        .header{

        	margin-top: -120px;
        	margin-left: -70px;
        }

        .main{
			height: 410px;
			width: 1500px;
			background-color: rgb(0, 0, 0, 0.10);
			position: relative;
		}
		.last-div-2{
			cursor: pointer;
			background-color: white;
			width: 565px;
			height: 195px;
			position: absolute;
			top: 38%;
			left: 7%;
			display: flex;
		}
		.name{
			font-size: 35px;
			font-weight: bold;
			position: absolute;
			top: 16%;
			left: 7%;
		}
		.quar-bio{
			cursor: pointer;
			line-height: 29px;
			position: absolute;
			top: 32%;
			left: 34%;
			font-size: 26px;
			font-weight: bold;
			width: 330px;
			
		}
		.quar-bio-3{
			cursor: pointer;
			line-height: 29px;
			position: absolute;
			top: 25%;
			left: 35%;
			font-size: 23px;
			font-weight: bold;
			width: 270px;
			
		}
		
		.photo-quar{
			cursor: pointer;
			margin-top: 20px;
			margin-left: 20px;
		}
		.photo-2{
			cursor: pointer;
			position: absolute;
			top: 40%;
			right: 2%;
			height: 30px;
			width: 30px;
		}
		.quar-bio-2{
			cursor: pointer;
			font-size: 17px;
			position: absolute;
			bottom: 42%;
			left: 34%;

		}
		.quar-bio-4{
			cursor: pointer;
			position: absolute;
			bottom: 35%;
			left: 35%;

		}
		.head-2{
            position: relative;
            top: 38%;
            left: 39.3%;
		}